LOSCFG_BOARD_DEV_WIFI_A=y
LOSCFG_SOC_COMPANY_ASRMICRO=y
LOSCFG_SOC_SERIES_ASR582X=y
LOSCFG_SOC_ASR5822S=y
LOSCFG_KERNEL_BACKTRACE=y
LOSCFG_KERNEL_CPUP=y
LOSCFG_KERNEL_PM=y
LOSCFG_FS_FAT=n
LOSCFG_SHELL=y
LOSCFG_KERNEL_TEST=n
LOSCFG_COMPAT_CMSIS=y
LOSCFG_PLATFORM_EXC=y
LOSCFG_FS_VFS=y
LOSCFG_COMPILE_OPTIMIZE=y
LOSCFG_COMPILE_OPTIMIZE_SIZE=y
LOSCFG_NET_LWIP=n